@*@page*@ 
@model LojaVirtual._ProductCardModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="col-lg-4 col-md-6 py-4 px-0" >
    <div class="container">
        <div class="card-deck flex-row m-2">
            <div class="card h-100">

                <a asp-page="/Product/ProductDetail" asp-page-handler="Get" asp-route-id="@Model.Product.ProductId" class="flex-row" style="color:#000000; text-decoration:none">

                    <!-- #region Image -->
                    @if (@Model.Product.ProductImage != null && Model.Product.Images != null)
                    {
                        if (Model.Product.Images.Count > 0)
                        {
                            int imageIndex = (int)Model.Product.ProductImage;
                            Models.Image img = Model.Product.Images.ElementAt(imageIndex);
                            string byte64 = new string("data:image/gif;base64," + Convert.ToBase64String(img.Data)) ;
                            <img width="700" height="200" class="card-img-top" src="@byte64" alt="">
                        }
                        else
                        {
                            <img width="700" height="200" class="card-img-top" src="http://placehold.it/700x400" alt="">
                        }

                    }
                    else
                    {
                        <img width="700" height="200" class="card-img-top" src="http://placehold.it/700x400" alt="">
                    }
                    <!-- #endregion -->
                    <!-- #region Properties -->

                    <div class="card-body ">
                        <h4 class="card-title ">@Model.Product.Name </h4>
                        <p class="card-text nounderline">@Model.Product.Description</p>
                        <h5>R$ @Model.Product.Price </h5>

                    </div>

                    <!-- #endregion -->
                </a>

                <!-- #region Controls -->

                <div class="d-flex justify-content-center">

                    <form class="form-inline" method="post">

                        <div class="form-group d-flex">
                            <button  asp-page-handler="AddItem" asp-route-product=@Model.Product.ProductId  asp-route-category=@Model.Product.Category.CategoryId type="submit" class="btn btn-info mb-1 btn-block">Adicionar ao Carrinho</button>
                        </div>

                        <div class="form-group d-flex">
                            <button type="submit" asp-page-handler="AddItemToFav" asp-route-product=@Model.Product.ProductId class="btn btn-danger mb-1 btn-block">Adicionar aos Favoritos</button>
                        </div>

                    </form>
                </div>

                <!-- #endregion -->

                <!-- #region Classification -->
                @* todo: classification of the products
        <div class="card-footer">
            <small class="text-muted">★ ★ ★ ★ ☆</small>
        </div>
                *@
                <!-- #endregion -->

            </div>
        </div>
    </div>
</div>


