@inherits ProductFormBase
@using Microsoft.AspNetCore.Components;
@*@inject NavigationManager navigationManager;*@


<EditForm Model="@Product" OnValidSubmit="SubmitForm">
  <DataAnnotationsValidator />
  <ValidationSummary />

  @* Name *@
  <div class="card text-light p-2 m-2" style="background-color:crimson">
    <label>Nome</label>
    <InputText class="w-100 form-control" @bind-Value="Product.Name" />
  </div>
  <hr />

  @* todo: this is delaying the load of the page on loading the data *@
  @* Description *@

  <div class="card text-dark p-2 m-2" style="background-color:#F4F5A4">
    <label>Descrição</label>
    <textarea class="w-100 text-light form-control"  rows="3" @bind="Product.Description" style="background-color:#7F802A; border: none;" />
  </div>
  <hr />

  @* BRAND AND PRICE *@
  <div class="text-light p-2 m-2 card align-content-center" card style="background-color:crimson">
    <div class="d-flex  justify-content-around">
      <div class="form-group">
        <label>Marca</label>
        <InputText class="p-1 form-control" @bind-Value="Product.Brand" />
      </div>

      <div class="form-group ">
        <label>Preço</label>
        <InputNumber class="p-1 form-control"  style="min-width: 30px; " @bind-Value="Product.Price" />
      </div>
    </div>
  </div>
  <hr />


  @* Category *@
  <div class="text-dark p-2 m-2 card" style="background-color:yellow">
    <label>Categoria</label>
    <select class="p-1 m-1 text-dark form-control" @bind="ProductCategory.CategoryId" >
      <option value="">Selecione uma Categoria</option>
      @{
        foreach (var category in categories)
        {
          <option value="@category.CategoryId">@category.Name</option>
        }
      }
    </select>
  </div>
  <hr />


  @* Images *@
  <div class="form-group m-2 p-2">
    @{
      if (Product.Images == null)
      {
        Product.Images = new List<Models.Image>();
      }
    }

    <ImageUpload  @bind-ModelImages="ProductImages" @bind-ImagesData="ImagesData" ></ImageUpload>
    <ImageCard @bind-ImagesData="ImagesData" ></ImageCard>

  </div>

  <hr />
  @* Product Image *@
  <div class="form-group">
    <div class="card m-2 p-2" style="background-color: crimson">
      <label class="text-light">Imagem Principal</label>
      <select class="p-1 m-1 text-dark form-control" @onmouseover="ProductImagePop" @bind="Product.ProductImage">
        <option value="">Selecione uma Imagem</option>
        @{
          int i = 0;
          foreach (var image in Product.Images)
          {
            <option value="@i">@image.ImageName</option>
            i++;
          }
        }
      </select>
    </div>
  </div>

  <hr />

  @* Submit Button *@
  <div class="row">
    <button type="submit" class="btn btn-success btn-block m-1 p-2" style="font-size:50px">
      <i class="fas fa-save"></i>
      Salvar
    </button>
  </div>

</EditForm>



